@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <br /> Collin Hintzke's Restaurant Reviewer</h1>
</div>
<br />
<br />
<block class="blk">
    <img class =""src="~/Table.jpg" />
    </block>